<!DOCTYPE html>
<html>
<head>
    <title>Allotek</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/css/allotek.less" rel="stylesheet/less" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Economica:700|Oswald' rel='stylesheet' type='text/css'/>
    <link rel="icon" type="image/png" href="/img/logo-tiny.png"/>
    <script src="/js/less.js" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <div class="navbar navbar-static">
        <div class="navbar-inner">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="row">
                            <div class="span1">
                                <img src="/img/logo-tiny.png">
                            </div>
                            <div class="span11" id="navbar">
                                <ul class="nav">
                                    <li class=""><a href="plumbing.html">PLOMBERIE</a></li>
                                    <li class=""><a href="hvac.html">CLIMATISATION R&Eacute;VERSIBLE</a></li>
                                    <li class=""><a href="heat_pump.html">POMPE &Agrave; CHALEUR</a></li>
                                    <li class=""><a href="contact.html">CONTACT</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ content }}
</div>
</body>
</html>